@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Almarai, sans-serif;
}

header{
    background-color: rgb(255, 204, 0);
    width: 100%;
    height: auto;
    display: flex;
    
}

.header-left, .play {
    width: 50%;
    height: 100vh;
}

.play-img {
    height: 100%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.header-left{
    width: 50%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FM {
    cursor: pointer;
}

.FM, .text-header{
    width: 50%;
    height: 50%;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
}

h1{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 35px;
}

.span1 {
    font-size: smaller;
}

.span2{
    font-size: 25px;
}

.section-1 {
    width: 100%;
    height: 237vh;
    background-color: rgb(101, 13, 151);
}

.section-1-img {
    height: 100%;
}

.song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 16px;
}

section, footer {
    flex-basis: 0;
    margin: 0;
}

.section-2 {
    background-color: rgb(255, 204, 0);
    width: 100%;
    height: 454vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.section-2 > div {
    width: 100%;
}

footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-basis: 0;
}

.bocca {
    width: 50%;
    height: 100%;
    background-color: rgb(101, 13, 151);
    display: flex;
    justify-content: center;
    align-items: center;
}

.freccia {
    width: 50%;
    height: 100%;
    background-color: #fc3636;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.freccia-inizio:hover {
    animation: rotazione-freccia 0.2s linear forwards;
}

.section-2-primo {
    height: 80vh;
}

.h1-section-2 {
    margin: 0px;
    padding: 0px;
    font-size: 275px;
    font-weight: 800;
    line-height: 250px;
}

.container1-section-2 {
    display: flex;
    justify-content: space-between;
}

.cerchio-section-2 {
    width: 300px;
    height: auto;
}

.cerchio {
    margin: 8px;
    margin-left: 60px;
    width: 70%;
}

.curva {
    position: relative;
    bottom: 230px;
    width: 100%;
}

.container2-section-2 {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
}

.lista-FM {
    width: 32%;
    position: relative;
    bottom: 300px;
    right: 20px;
}

.lista-FM > div {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testa-lista-FM {
    display: flex;
    align-items: end !important;
}

.testa-lista-FM > p {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.FM-span {
    font-size: 100px;
    margin-left: 20px;
}

.list-span {
    font-size: 24px;
}

.container3-section-2 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.online-list {
    width: 32%;
    height: auto;
    position: relative;
    bottom: 300px;
}

.online-list > div {
    width: 90%;
    height: auto;
    border-bottom: 1px solid black;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testa-online-list p {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.letter-A {
    padding-right: 18px;
    height: 111vh;
}

.online-span {
    font-size: 100px;
    padding-left: 20px;
}

.list-span, .arrow {
    cursor: pointer;
}

.container4-section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.device-list > div {
    width: 98%;
    height: auto;
    border-bottom: 1px solid black;
    padding: 0px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-span {
    font-size: 100px;
    margin-left: 20px;
}

.testa-device-list p {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    padding-left: 50%;
}

.device-span-p {
    font-size: 85px;
    margin:0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
}


.device-paragraf {
    padding-top: 32px;
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.doppia-curva {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 0px;
}

.doppia-curva > div {
    margin-top: 40px;
    margin-left: 0px;
    padding: 0px;
}

.section-3 {
    width: 100%;
    height: auto;
    background-color: rgb(101, 13, 151);
}

.section-4 {
    background-color: white;
    width: 100%;
    height: auto;
}

.container1-section-4 {
    display: flex;
    justify-content: space-between;
    padding: 30px 18px;
}

.grid-container {
    width: 100%;
    margin-bottom: 260px;
    padding: 30px;
    height: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: (3 / 1fr);
    grid-template-areas: 
    ". . Mon"
    "Tue Wed ."
    ". Thu ."
    ". . Fri"
    "Sat Sun .";
}

.Mon {
    grid-area: Mon;
}

.Tue {
    grid-area: Tue;
}

.Wed {
    grid-area: Wed;
}

.Thu {
    grid-area: Thu;
}

.Fri {
    grid-area: Fri;
}

.Sat {
    grid-area: Sat;
}

.Sun {
    grid-area: Sun;
}

.grid-container-div {
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 20px 0px;
}

.day-title {
    font-size: 110px;
}

.day-span, .day-span-text {
    font-size: 24px;
}

.day-span-text {
    width: 80%;
}

.section-5 {
    margin-top: 30px;
    width: 100%;
    height: 600vh;
}

.div-section-5 {
    background-color: rgb(255, 204, 0);
    border-bottom: 1px solid black;
    height: 38vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.div-section-5-img {
    background-color: rgb(255, 204, 0);
    width: 100%;
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.keyboards {
    position: relative;
    top: 48px;
}

marquee {
    font-size: 210px;
}

.section-6 {
    width: 100%;
    height: 200vh;
    display: flex;
    background-color: rgb(8, 152, 248);
}

.pecora {
    width: 50%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 160px;
}

.sheep {
    position: sticky;
    width: 75%;
    top: 40px;
}

.lista-jazz-romania {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.lista-jazz-romania > div {
    width: 97%;
    height: auto;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jazz-title {
    color: white;
    font-size: 110px;
    padding-bottom: 35px;
    margin-top: 0;
}

.jazz-span {
    color: white;
    font-size: 24px;
    margin-top: 25px;
    padding-bottom: 25px;
}

.jazz-span-2 {
    color: white;
}

.section-7 {
    height: 118vh;
    background-color: rgb(101, 13, 151);
}

.section-7-img {
    height: 100%;
}

.section-8 {
    width: 100%;
    padding-top: 20px;
    height: auto;
    background-color: rgb(255, 204, 0);
    display: flex;
    justify-content: space-between;
}

.h1-section-8 {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    font-size: 275px;
    font-weight: 800;
    line-height: 250px;
    position: sticky;
    top: 20px;
}

.div-cerchio-8 {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-left: 550px;
}

.list-section-8 {
    width: 50%;
    height: auto;
}

.list-8 {
    width: 96%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.box-list-8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.span-list-8 {
    font-size: 40px;
}

.span-list-8-small {
    font-size: 25px;
}

.span-list-8-facebook {
    font-size: 110px;
}

.arrow-8 {
    width: 60px;
}

.eye {
    width: 80%;
}

.box-list-8-eye {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}

@keyframes rotazione-freccia {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }

}