@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: DM Sans, sans-serif;
}

header{
    background-color: rgb(255, 204, 0);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "FM Play"
    "Song Play";
}

.FM {
 grid-area: FM;
 padding: 20px;
}

.text-header {
    grid-area: Song;
    padding: 20px;
    margin-top: 11vw;
}

.text-header-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0px;
    padding: 0px;
}

.play {
    grid-area: Play;
}

.play-img {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding-left: 3vw;
    cursor: pointer;
}

.FM-img {
    cursor: pointer;
    width: 64%;
}

.FM, .text-header{
    width: 50%;
    height: 50%;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
}

h1{
    padding-bottom: 0;
    font-size: 35px;
}

.span1 {
    font-size: smaller;
}

.span2{
    font-size: 25px;
}

.section-1 {
    width: 100%;
    height: 115vw;
    background-color: rgb(101, 13, 151);
    padding: 0px;
}

.section-1-img {
    height: 115vw;
    margin: 0;
    width: 100%;
}

.song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 16px;
}

section, footer {
    flex-basis: 0;
    margin: 0;
}

.section-2 {
    background-color: rgb(255, 204, 0);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
    padding-top: 1vw;
}

.section-2 > div {
    width: 100%;
}

.section-2-primo {
    height: 80vh;
}

.h1-section-2 {
    margin: 0px;
    padding: 0px;
    font-size: 15vw;
    line-height: 12vw;
}

.container1-section-2 {
    display: flex;
    justify-content: space-between;
}

.cerchio-section-2 {
    width: 20vw;
}

.cerchio {
    width: 11vw;
    height: fit-content;
    margin-right: 1vw;
    margin-top: 0.4vh;
}

.curva {
    position: relative;
    bottom: 11vw;
    width: 41vw;
    margin-top: 0%;
    padding-left: 1vw;
}

.container2-section-2 {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100vw;
}

.lista-FM {
    width: 32%;
    position: relative;
    bottom: 15vw;
    right: 20px;
}

.lista-FM > div {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testa-lista-FM {
    display: flex;
    align-items: end !important;
}

.testa-lista-FM > p {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.FM-span {
    font-size: 100px;
    margin-left: 20px;
}

.list-span {
    font-size: 24px;
}

.container3-section-2 {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.online-list {
    width: 40%;
    height: auto;
    position: relative;
    bottom: 30vh;
}

.online-list > div {
    width: 90%;
    height: auto;
    border-bottom: 1px solid black;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testa-online-list p {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.letter-A {
    padding-right: 18px;
    width: 65vw;
}

.online-span {
    font-size: 100px;
    padding-left: 20px;
}

.list-span, .arrow {
    cursor: pointer;
}

.container4-section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.device-list > div {
    width: 97%;
    margin: auto;
    height: auto;
    border-bottom: 1px solid black;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-span {
    font-size: 100px;
    margin-left: 20px;
}

.testa-device-list p {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    padding-left: 50%;
}

.device-span-p {
    font-size: 85px;
    margin:0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
}


.device-paragraf {
    padding-top: 32px;
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.doppia-curva {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 9vw;
}

.doppia-curva > div {
    margin-top: 40px;
    margin-left: 0px;
    padding: 0px;
}

.doppia-curva-img {
    width: 100%;
}

.section-3 {
    width: 100%;
    height: auto;
    background-color: rgb(101, 13, 151);
}

.section-4 {
    background-color: white;
    width: 100%;
    height: auto;
}

.container1-section-4 {
    display: flex;
    justify-content: space-between;
    padding: 30px 18px;
}

.grid-container {
    width: 95%;
    margin: auto;
    margin-bottom: 260px;
    height: auto;
    display: grid;
    gap: 2vw;
    grid-template-columns: (3 / 1fr);
    grid-template-areas: 
    ". . Mon"
    "Tue Wed ."
    ". Thu ."
    ". . Fri"
    "Sat Sun .";
}

.Mon {
    grid-area: Mon;
}

.Tue {
    grid-area: Tue;
}

.Wed {
    grid-area: Wed;
}

.Thu {
    grid-area: Thu;
}

.Fri {
    grid-area: Fri;
}

.Sat {
    grid-area: Sat;
}

.Sun {
    grid-area: Sun;
}

.grid-container-div {
    width: 90%;
    height: auto;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 20px 0px;
}

.day-title {
    font-size: 110px;
}

.day-span, .day-span-text {
    font-size: 24px;
}

.day-span {
    width: 120px;
}

.day-span-text {
    width: 100px;
}

.day-span-text {
    width: 80%;
}

.section-5 {
    margin-top: 30px;
    width: 100%;
}

.div-section-5 {
    background-color: rgb(255, 204, 0);
    border-bottom: 1px solid black;
    height: 38vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.div-section-5-img {
    background-color: rgb(255, 204, 0);
    width: 100%;
    height: 37vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

.keyboards {
    width: 64vw;
}

marquee {
    font-size: 210px;
}

.section-6 {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(8, 152, 248);
    padding-top: 2vw;
    padding-bottom: 7vw;
}

.pecora {
    width: 50%;
    height: auto;
    padding-top: 3vw;
    padding-bottom: 2vw;
    padding-left: 160px;
}

.sheep {
    position: sticky;
    width: 32vw;
    top: 40px;
}

.lista-jazz-romania {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lista-jazz-romania > div {
    width: 97%;
    height: auto;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jazz-title {
    color: white;
    font-size: 110px;
    padding-bottom: 35px;
    margin-top: 0;
}

.jazz-span {
    color: white;
    font-size: 24px;
    margin-top: 25px;
    padding-bottom: 25px;
}

.jazz-span-2 {
    color: white;
}

.section-7 {
    height: 58vw;
    background-color: rgb(101, 13, 151);
    padding: 0px;
}

.section-7-img {
    width: 100%;
    height: 64vw;
    position: relative;
    bottom: 3vw;
}

.section-8 {
    width: 100%;
    padding-top: 20px;
    height: auto;
    background-color: rgb(255, 204, 0);
    display: flex;
    justify-content: space-between;
}

.h1-section-8 {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    font-weight: 800;
    font-size: 15vw;
    line-height: 12vw;
    position: sticky;
    top: 20px;
}

.div-cerchio-8 {
    width: 48vw;
    display: flex;
    justify-content: end;
    padding-left: 26vw;
}

.list-section-8 {
    width: 50vw;
    height: auto;
}

.list-8 {
    width: 96%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.box-list-8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.span-list-8 {
    font-size: 40px;
}

.span-list-8-small {
    font-size: 25px;
}

.span-list-8-facebook {
    font-size: 110px;
}

.arrow-8 {
    width: 60px;
}

.eye {
    width: 80%;
}

.box-list-8-eye {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-basis: 0;
}

.bocca {
    width: 50%;
    height: 100%;
    background-color: rgb(101, 13, 151);
    display: flex;
    justify-content: center;
    align-items: center;
}

.freccia {
    width: 50%;
    height: 100%;
    background-color: #fc3636;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.freccia-inizio {
    width: 30vw;
    margin: auto;
}

.freccia-inizio:hover {
    animation: rotazione-freccia 0.2s linear forwards;
}

@keyframes rotazione-freccia {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }

}

@media screen and (max-width: 1380px) {

    .container3-section-2 {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    .letter-A {
        padding-right: 0px;
        width: 90vh;
        /*width: 65vw;*/
    }
    
    .container-A-letter {
        width: 70%;
    }

    .online-list {
        width:50vh;
        height: auto;
        position: relative;
        bottom: 10vh;
    }
    
    .online-list > div {
        width: 95%;
        height: auto;
        border-bottom: 1px solid black;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width: 1190px) {

    .container3-section-2 {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    .letter-A {
        padding-right: 0px;
        width: 55vw;
        /*width: 65vw;*/
    }
    
    .container-A-letter {
        width: 55%;
    }

    .online-list {
        width: 95%;
        height: auto;
        position: relative;
        bottom: 10vh;
    }
    
    .online-list > div {
        width: 100%;
        height: auto;
        border-bottom: 1px solid black;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width: 990px) {

    header {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;    /*25% 60% 5%;*/
        grid-template-rows: 18vh 68vh 38vh;
        grid-template-areas: 
        "FM"
        "Play"
        "Song";
    }

    .play-img {
        width: 500px;
        margin: 0px;
        padding-left: 20px;
        cursor: pointer;
    }

    .FM-img {
        cursor: pointer;
        width: 35vh;
    }

    .text-header {
        padding: 20px;
        margin-top: 10vh;
    }

}

@media screen and (max-width: 1120px) {

    .body {
        width: auto;
    }
    
    .cerchio {
        display: none;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container2-section-2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
        height: 125vh;
    }

    .curva {
        position: relative;
        bottom: 11vw;
        width: 42vw;
        margin-top: 0%;
    }

    .lista-FM {
        width: 85%;
        height: fit-content;
        margin: auto;
        margin-top: 6vw;
    }

    .testa-lista-FM > p {
        font-size: 60px;
        margin: 0px;
        padding: 0px;
    }
    
    .FM-span {
        font-size: 90px;
        margin-left: 20px;
    }
    
    .list-span {
        font-size: 20px;
    }

    .container3-section-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .online-list {
        width: 91vw;
        margin: auto;
        height: auto;
        position: initial;
    }
    
    .online-list > div {
        width: 96%;
        margin: auto;
        padding: 0px;
        height: auto;
        border-bottom: 1px solid black;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .testa-online-list p {
        font-size: 60px;
        margin: 0px;
        padding: 0px;
    }

    .container-A-letter {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .letter-A {
        width: 95vw;
    }

    .container4-section-2 {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 100px;
    }

    .device-list > div {
        width: 95%;
        margin: auto;
        height: auto;
        border-bottom: 1px solid black;
        padding: 0px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .device-span {
        font-size: 70px;
        margin-left: 20px;
    }

    .testa-device-list {
        display: flex;
        align-items: start;
    }
    
    .testa-device-list p {
        font-size: 50px;
        margin: 0px;
        padding: 0px;
        padding-left: 0px;
    }
    
    .device-span-p {
        font-size: 45px;
        margin: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }
    
    .device-paragraf {
        padding-top: 0px;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        margin-bottom: 260px;
        height: auto;
    }
    
    .grid-container-div {
        width: 90%;
        height: auto;
        display: flex;
        border-bottom: 1px solid lightgray;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px 20px 0px;
    }

    .section-6 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: rgb(8, 152, 248);
        padding-top: 2vw;
        padding-bottom: 7vw;
    }

    .pecora {
        width: 100%;
        height: auto;
        padding-top: 3vw;
        padding-bottom: 2vw;
        padding-left: 0px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .sheep {
        position: initial;
        width: 48vw;
    }
    
    .lista-jazz-romania {
        width: 95%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .lista-jazz-romania > div {
        width: 97%;
        height: auto;
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .jazz-title {
        color: white;
        font-size: 60px;
        padding-bottom: 35px;
        margin-top: 0;
    }
    
    .jazz-span {
        color: white;
        font-size: 20px;
        margin-top: 25px;
        padding-bottom: 25px;
    }
    
    .jazz-span-2 {
        color: white;
    }

    .section-8 {
        width: 100%;
        padding-top: 20px;
        height: auto;
        background-color: rgb(255, 204, 0);
        display: flex;
        justify-content: initial;
        flex-direction: column;
    }
    
    .h1-section-8 {
        margin: 0px;
        padding: 0px;
        padding-left: 15px;
        font-weight: 800;
        font-size: 15vw;
        line-height: 12vw;
        position: sticky;
        top: 20px;
    }
    
    .list-section-8 {
        width: 100%;
        height: auto;
    }
    
    .list-8 {
        width: 96%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 200px;
    }

    .box-list-8 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid black;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .span-list-8 {
        font-size: 40px;
    }
    
    .span-list-8-small {
        font-size: 25px;
    }
    
    .span-list-8-facebook {
        font-size: 110px;
    }
    
    .arrow-8 {
        width: 60px;
    }
    
    .eye {
        width: 80%;
    }
    
    .box-list-8-eye {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid black;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
}

@media screen and (max-width: 990px) {

    .section-5 {
        margin-top: 30px;
        width: 100%;
    }
    
    .div-section-5 {
        background-color: rgb(255, 204, 0);
        border-bottom: 1px solid black;
        height: 15vh;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .div-section-5-img {
        background-color: rgb(255, 204, 0);
        width: 100%;
        height: 46vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    
    .keyboards {
        width: 95vw;
    }
    
    marquee {
        font-size: 80px;
    }

}

@media screen and (max-width: 770px) {

    .list-8 {
        width: 96%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 200px;
    }
    
    .box-list-8 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid black;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .span-list-8 {
        font-size: 20px;
    }
    
    .span-list-8-small {
        font-size: 20px;
    }
    
    .span-list-8-facebook {
        font-size: 40px;
    }
    
    .arrow-8 {
        width: 40px;
    }
    
    .eye {
        width: 80%;
    }
    
    .box-list-8-eye {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid black;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    footer {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-basis: 0;
    }
    
    .bocca {
        width: 100vw;
        height: 50%;
        background-color: rgb(101, 13, 151);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .freccia {
        width: 100vw;
        height: 50%;
        background-color: #fc3636;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .bocca-img {
        width: 50vw !important;
        margin: auto;
    }
    
    .freccia-inizio {
        width: 50vw;
        margin: auto;
    }

}

@media screen and (max-width: 550px) {

    header {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;    /*25% 60% 5%;*/
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "FM"
        "Play"
        "Song";
    }

    .play-img {
        width: 500px;
        margin: 0px;
        padding-left: 20px;
        cursor: pointer;
    }

    .FM-img {
        cursor: pointer;
        width: 35vh;
    }

    .text-header {
        padding: 20px;
        margin-top: 10vh;
    }
    
    .play-img {
        height: auto;
        width: 80%;
        margin: 0px;
        padding-left: 3vw;
        cursor: pointer;
    }

    .testa-online-list p {
        font-size: 60px;
        margin: 0px;
        padding: 0px;
    }

    .online-span, .FM-span {
        font-size: 70px;
    }

    .pecora {
        width: 100%;
        height: auto;
        padding-top: 3vw;
        padding-bottom: 2vw;
        padding-left: 0px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .sheep {
        position: initial;
        width: 55vw;
    }

    .h1-section-8 {
        font-weight: 800;
        font-size: 25vw;
        line-height: 80px;
    }

    footer {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-basis: 0;
    }
    
}